%h1 Welcome to QuestLove
%p You questions managed
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Attendees
      %p Select the panel you are attending. From there, you can vote on questions posed by other attendees or ask your own. Questions will be then be presented to the moderator in an orderly fashion.

      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} Get Started »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Moderators
      %p Moderators are able to grant final approval to questions. Once approved, questions get added to the presenter's Question Queue.
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} Get Started »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Presenters
      %p As the moderator approves questions, they will be added to your head's up view. Simply select the next question that you'd like to address. When you have finished answerinig that question, simply close it and choose another.
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} Get Started »
    / /.col-lg-4
  / /.row
 

