// Place all the styles related to the Panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ask_a_question
  background-color: $rackham_roof_green
  height: 175px

.approved_questions
  background-color: $heather_blue
  color: #fff

.pending_questions
  background-color: $um_maize

.answered_questions
  background-color: brown

